/* Force 2 columns layout for Account Dashboard */
@media (min-width: 992px) {
    .o_account_kanban .o_kanban_renderer.o_kanban_ungrouped {
        --KanbanRecord-width: 48% !important;
        flex-direction: row !important;
        flex-wrap: wrap !important;
    }
}